@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* VARIABLES */
/* || RESET */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea{
    font: inherit;
}

body.light{
    /* --BODY-COLOR:  hsl(209, 68%, 40%)  ;
    --BODY-BGCOLOR:whitesmoke;
    --NAV-ACTIVE: #566E3D;
    --NAV-COLOR: whitesmoke;
    --CAROUSEL-COLOR: #542E71;
    --BOX-SHADOW-COLOR: #6A66A3;
    --CARD-COLOR: whitesmoke;
    --CAROUSEL-HOVER-BGCOLOR:BLACK;
    --CAROUSEL-HOVER-COLOR: whitesmoke; */
    --BODY-COLOR:  #0F520B  ;
    --BODY-BGCOLOR:#E3FFE5;
    --NAV-ACTIVE: #0F520B;
    --NAV-COLOR: #0F520B;
    --CAROUSEL-COLOR: #2E7140;
    --BOX-SHADOW-COLOR: #0F520B;
    --CARD-COLOR: whitesmoke;
    --CAROUSEL-HOVER-BGCOLOR:BLACK;
    --CAROUSEL-HOVER-COLOR: whitesmoke;
    --CARD-BGCOLOR:#041b03;
    --CARD-COLOR:#E3FFE5;
}
body.dark {
    /* --BODY-COLOR: #c5c5c5;
    --BODY-BGCOLOR:  #333;
    --NAV-ACTIVE: #6A66A3;
    --NAV-COLOR: whitesmoke;
    --CAROUSEL-COLOR: #6A66A3;
    --BOX-SHADOW-COLOR: #000;
    --CAROUSEL-HOVER-BGCOLOR:#000;
    --CAROUSEL-HOVER-COLOR: #f5f5f5; */
    --BODY-COLOR:  #EDFFEF ;
    --BODY-BGCOLOR:#041b03;
    --NAV-ACTIVE: #EDFFEF;
    --NAV-COLOR: #EDFFEF;
    --CAROUSEL-COLOR: #2E7140;
    --BOX-SHADOW-COLOR: #0F520B;
    --CARD-COLOR: whitesmoke;
    --CAROUSEL-HOVER-BGCOLOR:BLACK;
    --CAROUSEL-HOVER-COLOR: whitesmoke;
    --CARD-BGCOLOR:#EDFFEF;
    --CARD-COLOR:#041b03;
}
body{
    font-family: 'Nunito', sans-serif;
    height:100%;
    background-color: var(--BODY-BGCOLOR);
    color: var(--BODY-COLOR);
}
body.dark img{
    filter: invert(100%)
}

#nav1{
    background-color: var(--BODY-BGCOLOR);
    justify-content: space-around;
    padding: 0.2rem;
    font-weight: 600;
}
.nav-item{
    background-color: var(--BODY-BGCOLOR);

}
.fixed {
    background-color: var(--BODY-BGCOLOR);
}
.fixedborder{
    border-bottom: solid var(--BODY-COLOR) thick;
}
.nav-item a{
    color: var(--BODY-COLOR);
}
.nav-item a:hover{
    color:var(--NAV-COLOR);
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.nav-item a:active,.nav-item a:link,.nav-item a:visited{
    color:var(--NAV-ACTIVE);
}
#info{
    padding-top: 5rem;
    width: 100%;
    height: 200px;
    text-align: center;
}

#head{
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

/* HEADING */
h2{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    border-top: thick solid var(--BODY-COLOR);
    border-bottom: thick solid var(--BODY-COLOR);
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-content: center;
}
/* PROJECTS */
#Projects {
    padding-top: 5rem;
    width: 100%;
}
#Projects .col{
    height: 300px;
    width: 450px;
}
#Projects h3,small{
 color: var(--BODY-BGCOLOR);
}
#Projects .row{
    margin: 0;
}
/* SKILLS */
#Skills {
    padding-top: 5rem;
}
.Skills .col{
    display: flex;
}
.Designer{
    border: var(--BODY-COLOR) solid thick;
    text-align: center;
    padding: 2rem 0rem;
    flex: 1;
    padding: 16px;
}
.Designer h3{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.circle{
    margin: auto;
    display: flex;
    justify-content: center;
    size: 1rem;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: var(--BODY-COLOR);
}
.circle img{
    margin: auto;
    width: 75px;
    height: 75px;
    color: var(--BODY-BGCOLOR);
}
.Designer ul{
list-style-type: none;
margin: 0;
padding: 0;
}
/* EDUCATION */
#Education {
    padding-top: 5rem;
}
#Education p{
    padding-top:1rem ;
    padding: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
/* COURSEWORK */
#Coursework p{
    padding: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
#Coursework a{
    text-decoration-thickness: 3px;
}
#Coursework .col{
height: 300px;
width: 450px;
}
#Coursework button{
    width: 180px;
}
#Coursework {
    padding-top: 1.9rem;
}
/* FOOTER */
footer {
    border-top: var(--BODY-COLOR) solid thick;
    font-weight: 800;
}
/* HOVER */
/* Container holding both the image and text */
.hover {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* Initially show the image */
  .hover .unhover {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  /* Hide the image when hovering */
  .hover:hover .unhover {
    opacity: 0;
  }
  
  /* Show the text section on hover */
  .hover .hover {
    opacity: 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease;
    background-color: var(--CARD-BGCOLOR);
    height: 300px;
    width: 426px;
  }
  
  /* Make text visible on hover */
  .hover:hover .hover {
    opacity: 1;
    color: var(--CARD-COLOR);
  }
  .btn_website{
    border-radius: 25px;
    background-color: transparent;
    border: solid 2px ;
    border-color: var(--CARD-COLOR);
    width: 120px;
    height: 40px;
  }
  .btn_website:hover, .btn_website:hover a, .btn_website:hover svg{
    border-color: var(--CARD-BGCOLOR);
    background-color: var(--CARD-COLOR);
    color: var(--CARD-BGCOLOR);
    fill: var(--CARD-BGCOLOR);
  }
  .btn_website a{
    margin: auto;
    color: var(--CARD-COLOR);
    text-decoration: none;
  }
  .btn_website svg{
    fill: var(--CARD-COLOR);
  }
#MenuIcon{
    fill: var(--CARD-BGCOLOR);
}
#hamburger{
    background-color: var(--BODY-BGCOLOR);
    color: var(--BODY-COLOR);
    border: none;
    display: none;
}

/* Basic Navbar Styling */
  
  /* Media Queries for Mobile Screens */
  @media (max-width: 525px) {
    .hover{
        width: auto;
    }
      .hover .hover {
        width: 93%;
      }
      .circle{
        margin: auto;
        display: flex;
        justify-content: center;
        size: 1rem;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-color: var(--BODY-COLOR);
    }
    .circle img{
        margin: auto;
        width: 75px;
        height: 75px;
        color: var(--BODY-BGCOLOR);
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }
    #Coursework .card{
        background-size: 100% 300px;
    }
  }
  @media (max-width: 550px) {
    #themeIcon{
        height: 36px;
        width: 36px;

    }
    .nav {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      margin-bottom: 50px;

    }
    .visible {
      display: block;
      position: absolute;
      top: 50px;
    }
    .hidden{
        display: none;
    }
    #hamburger{
        display: block;
    }
    header{
        display: flex;
        justify-content: end;
        width: 100%;
    }
    #myLinks{
        border-bottom: var(--BODY-COLOR) solid thick;
        font-size: 2rem;
    }
    .themeIcon{
        display: flex;
        justify-content: center;
        color: var(--BODY-COLOR);
    }
    #nav1{
        justify-content: end;
    }
    #myLinks .nav-item:first-child .nav-link {
        border-top: var(--BODY-COLOR) solid thick ;
      }
  }
  